.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;

}
.navlist{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.navlinks{
    margin: 0px 50px;
}